<header class="header">
  <div class="header__logo">
    <span class="header__logo-app">App</span>
    <span class="header__logo-lab">Lab</span>
  </div>
  <nav class="header__nav">
    <div class="header__hamburger">
      <img class="header__hamburger-icon" href="javascript:void(0);" onclick="myFunction()"
        src="../img/icon/hamburger.png" alt="menu" />
    </div>
    <ul class="header__menu-list">
      <li class="header__menu-item"><a class="header__menu-item-a" href="#">Home</a></li>
      <li class="header__menu-item"><a class="header__menu-item-a" href="#partners">Key Features</a></li>
      <li class="header__menu-item"><a class="header__menu-item-a" href="#">Pricing</a></li>
      <li class="header__menu-item"><a class="header__menu-item-a" href="#">Testiminial</a></li>
      <li class="header__menu-item"><a class="header__menu-item-a" href="#">FAQ</a></li>
    </ul>
    <a class="header__button button" href="#">Try for free</a>
  </nav>
  <div class="header__menu-hamburger" id="header-menu">
    <ul class="header__hamburger-list">
      <li class="header__hamburger-item"><a class="header__hamburger-item-a" href="#">Home</a></li>
      <li class="header__hamburger-item"><a class="header__hamburger-item-a" href="#partners">Key Features</a></li>
      <li class="header__hamburger-item"><a class="header__hamburger-item-a" href="#">Pricing</a></li>
      <li class="header__hamburger-item"><a class="header__hamburger-item-a" href="#">Testiminial</a></li>
      <li class="header__hamburger-item"><a class="header__hamburger-item-a" href="#">FAQ</a></li>
    </ul>
  </div>
</header>