<div class="satisfaction">

  <div class="satisfaction__world">
    <div class="satisfaction__world-client1" id="testiminial">
      <img src="./components/img/clients/client1.png" alt="Photo 1" class="satisfaction__world-img-client1">
    </div>
    <div class="satisfaction__world-client2">
      <img src="./components/img/clients/client2.png" alt="Photo 2" class="satisfaction__world-img-client2">
    </div>
    <div class="satisfaction__world-client3">
      <img src="./components/img/clients/client3.png" alt="Photo 3" class="satisfaction__world-img-client3">
    </div>
    <div class="satisfaction__world-client4">
      <img src="./components/img/clients/client4.png" alt="Photo 4" class="satisfaction__world-img-client4">
    </div>
    <div class="satisfaction__world-client5">
      <img src="./components/img/clients/client5.png" alt="Photo 5" class="satisfaction__world-img-client5">
    </div>
    <div class="satisfaction__world-client6">
      <img src="./components/img/clients/client6.png" alt="Photo 6" class="satisfaction__world-img-client6">
    </div>
    <div class="satisfaction__world-client7">
      <img src="./components/img/clients/client7.png" alt="Photo 7" class="satisfaction__world-img-client7">
    </div>
  </div>
  <div class="satisfaction__text">
    <div class="satisfaction__text-title">Meet Client Satisfaction<br />
      by using product
    </div>
    <div class="satisfaction__text-subtitle description">The rise of mobile devices transforms the way we consume.
      elevant channels such as Facebook.
    </div>
    <div class="satisfaction__text-stars-container">
      <img class="satisfaction__text-stars-img" src="./components/img/icon/stars.png" alt="">
    </div>
    <div class="satisfaction__text-bottom-title">User friendly & Customizable</div>
    <div class="satisfaction__text-description description">Bring to the table win-win survival strategies to ensure
      proactive 
      domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the
      runway
      heading towards a streamlined cloud solution. User generated content in real-time will have multiple
      touchpoints for
      offshoring.
    </div>
    <div class="satisfaction__text-bottom">
      <div class="satisfaction__text-bottom-box">

        <div class="satisfaction__client">
          <div class="satisfaction__client-img"><img class="satisfaction__client-photo"
              src="./components/img/clients/client8.png" alt=""></div>
          <div class="satisfaction__client-name-container">
            <div class="satisfaction__client-name">Zoltan Nemeth</div>
            <div class="satisfaction__client-description">CEO of Pixler Lab</div>
          </div>
        </div>
        <div class="satisfaction__text-arrows">
          <div class="satisfaction__text-arrow-left" onclick="changeContent('left')"></div>
          <div class="satisfaction__text-line"></div>
          <div class="satisfaction__text-arrow-right" onclick="changeContent('right')"></div>
        </div>
      </div>

    </div>
  </div>

</div>