<div class="partners">

    <div class="partners__container">
      <div class="partners__title">Trusted by companies like</div>
      <div class="partners__img-container">
        <img class="partners__img" height="42px" src="./components/img/partners/Sousthwest.png" alt="Southwest" />
        <img class="partners__img" height="94px" src="./components/img/partners/Anubis.png" alt="Anubis" />
        <img class="partners__img" height="58px" src="./components/img/partners/Alonzo.png" alt="Alonzo" />
        <img class="partners__img" height="71px" src="./components/img/partners/Express.png" alt="Express" />
        <img class="partners__img" height="51px" src="./components/img/partners/Maniac.png" alt="Maniac" />
      </div>
    </div>

  </div>