<div class="faq">
    <div class="faq__title" id="faq">Frequently asked questions</div>
    <div class="faq__description description">The rise of mobile devices transforms the way we consume information
        entirely<br />
        and the world's most elevant channels such as Facebook.</div>
        <div class="faq__dropdowns">
            <div class="faq__dropdown">
                <div class="faq__question-plus" onclick="toggleAnswer(1)">
                    <div class="faq__question">
                        How to contact with riders emergency?
                    </div>
                    <img id="plus1" class="faq_plus" src="./components/img/icon/plus.png" alt="plus">
                </div>
        
                <div id="answer1" class="faq__answer description">
                    Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition. Organically
                    grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                </div>
            </div>
            <div class="faq__dropdown">
                <div class="faq__question-plus" onclick="toggleAnswer(2)">
                    <div class="faq__question">
                        App installation failed, how to update system information?
                    </div>
                    <img id="plus2" class="faq_plus" src="./components/img/icon/plus.png" alt="plus">
                </div>
                <div id="answer2" class="faq__answer description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, aspernatur molestias. Error assumenda sed
                    qui dolore commodi, beatae nisi tempore tempora consequuntur. Ex sequi quae tempora, iure eum excepturi.
                    Vitae, repudiandae similique!
                </div>
            </div>
            <div class="faq__dropdown">
                <div class="faq__question-plus" onclick="toggleAnswer(3)">
                    <div class="faq__question">
                        Website response taking time, how to improve?
                    </div>
                    <img id="plus3" class="faq_plus" src="./components/img/icon/plus.png" alt="plus">
                </div>
                <div id="answer3" class="faq__answer description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla eaque natus doloribus.
                </div>
            </div>
            <div class="faq__dropdown">
                <div class="faq__question-plus" onclick="toggleAnswer(4)">
                    <div class="faq__question">
                        New update fixed all bug and issues
                    </div>
                    <img id="plus4" class="faq_plus" src="./components/img/icon/plus.png" alt="plus">
                </div>
                <div id="answer4" class="faq__answer description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi laboriosam consequuntur
                    maiores at voluptates sint distinctio suscipit. Reprehenderit, vero!
                </div>
            </div>
            <div class="faq__dropdown">
                <div class="faq__question-plus" onclick="toggleAnswer(5)">
                    <div class="faq__question">
                        How to contact with riders emergency?
                    </div>
                    <img id="plus5" class="faq_plus" src="./components/img/icon/plus.png" alt="plus">
                </div>
                <div id="answer5" class="faq__answer description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure.
                </div>
            </div>
        </div>
</div>