.download {
  background-image: url("../img/background/download.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  background-position: 101% 10%;
  padding-left: 10%;
  margin-top: 15px;
}
.download__text {
  padding-top: 70px;
}
.download__title {
  font-size: 48px;
  font-weight: 700;
  color: #242f51;
}
.download__description {
  margin-top: 36px;
  width: 635px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
}
.download__images {
  display: flex;
  justify-content: space-around;
  width: 410px;
  margin-top: 40px;
}

@media (max-width: 1280px) {
  .download {
    background-image: url("../img/background/download.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    background-position: 101% -12px;
    padding-left: 5%;
  }
  .download__text {
    padding-top: 30px;
  }
  .download__title {
    font-size: 38px;
    font-weight: 700;
    color: #242f51;
  }
  .download__description {
    margin-top: 26px;
    width: 535px;
    font-size: 16px;
    font-weight: 600;
    color: #3a437d;
  }
  .download__images {
    display: flex;
    justify-content: space-around;
    width: 320px;
    margin-top: 30px;
  }
  .download__img-market,
  .download__img-store {
    height: 40px;
  }
}

@media (max-width: 796px) {
  .download {
    background-image: url("../img/background/download.png");
    background-repeat: no-repeat;
    background-size: 435px;
    height: 435px;
    min-height: 435px;
    background-position: right 0px bottom 31px;
    overflow: hidden;
    margin-top: 50px;
  }
  .download__text {
    padding-top: 10px;
  }
  .download__title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #242f51;
  }
  .download__description {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    width: 300px;
    font-size: 12px;
    font-weight: 600;
    color: #3b3b40;
    padding-inline:2%;
  }
  .download__images {
    display: flex;
    justify-content: space-around;
    width: 220px;
    margin-top: 30px;
  }
  .download__img-market,
  .download__img-store {
    height: 30px;
  }
}
