<div class="download">
    <div class="download__text">
        <div class="download__title">Download our App now !</div>
        <div class="download__description">The rise of mobile devices transforms the way we consume information entirely
            and the world's most elevant channels such as Facebook.</div>
    </div>
    <div class="download__images">
        <div class="download__market"><img class="download__img-market" src="./components/img/market.png" alt="market">
        </div>
        <div class="download__store"><img class="download__img-store" src="./components/img/store.png" alt="store">
        </div>
    </div>
</div>