<div class="home">
  <div class="home__background2"></div>
  <div class="home__background3"></div>

  <div class="home__text">
    <div class="home__text-container">
      <div class="home__inscription">
        <div class="home__inscription-icon centring">
          <img class="home__inscription-icon-img " src="../img/icon/check.png" alt="check">
        </div>
        <div class="home__inscription-text centring">#1 Editiors Choice App of 2020</div>
      </div>
      <div class="home__title">Best app for your<br />
        modern lifestyle</div>
      <div class="home__description">Increase productivity with a simple to-do app. app for<br />
        managing your personal budgets.</div>
      <div class="home__bottom-container">
        <div class="home__bottom-buttom button">Try for free</div>
        <div class="home__bottom-video">Watch demo video</div>
      </div>
    </div>
  </div>
  <div class="home__img-container"><img class="home__img" src="../img/phone-home.png" alt="phone-home"></div>


</div>