<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Krub:wght@200;400;500;700&family=Poppins:wght@400;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../home/home.css">
    <link rel="stylesheet" href="../partners/partners.css">
    <link rel="stylesheet" href="../features/features.css">
    <link rel="stylesheet" href="../jackpots/jackpots.css">
    <link rel="stylesheet" href="../integration/integration.css">
    <link rel="stylesheet" href="../app/app.css">


    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="partners.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="features.css">
    <link rel="stylesheet" type="text/css" href="jackpots.css">
    <link rel="stylesheet" type="text/css" href="integration.css">
    <link rel="stylesheet" type="text/css" href="app.css">

    <script src="../js/fetch.js" defer></script>
    <script src="../js/header.js" defer></script>
    <title>AppLab</title>



</head>

<body>
    <header>

        <div class="header__main" id="headerComponent"></div>
    </header>

    <main>

        <!-- <div class="home__main" id="homeComponent"></div>
        <div class="partners__main" id="partnersComponent"></div>
        <div class="features__main" id="featuresComponent"></div>
        <div class="jackpots__main" id="jackpotsComponent"></div>
        <div class="integration__main" id="integrationComponent"></div> -->
        <div class="app__main" id="appComponent"></div>
    </main>
</body>

</html>