<div class="cards">
    <div class="cards__header">
        <div class="cards__title title">
            Get awesome features, without<br /> extra charges
        </div>
        <div class="cards__description description">
            The rise of mobile devices transforms the way we consume information entirely<br /> and the world's most
            relevant
            channels such as Facebook.
        </div>
    </div>

    <div class="cards__toggle">
        <div class="cards__toggle-switch">
            <div class="cards__toggle-option active" onclick="toggleSwitch(this)">
                <span class="toggle-text">Monthly</span>
            </div>
            <div class="cards__toggle-option" onclick="toggleSwitch(this)">
                <span class="toggle-text">Annualy</span>
            </div>
        </div>
    </div>

    <div class="cards__container">
        <div class="card__container">
            <div class="card__top card__top-first">
                <div class="card__price">
                    <span class="card__price-span">$0</span><span class="card__mounth-span">/month</span>
                </div>
                <div class="card__title">
                    Business Class
                </div>
                <div class="card__description">
                    For small teams or office
                </div>
            </div>
            <div class="card__bottom">
                <ul class="card__list">
                    <li>Drag & Drop Builder</li>
                    <li>1,000's of Templates</li>
                    <li>Blog Support Tools</li>
                    <li>eCommerce Store</li>
                </ul>
                <div class="card__button ">
                    Start free trail
                </div>
            </div>
        </div>

        <div class="card__container card__container-second">
            <div class="card__top card__top-second">
                <div class="card__price">
                    <span class="card__price-span">$99</span><span class="card__mounth-span">/month</span>
                </div>
                <div class="card__title">
                    Pro Master
                </div>
                <div class="card__description">
                    For Best opportunities
                </div>
            </div>
            <div class="card__bottom card__bottom-second">
                <ul class="card__list">
                    <li>Drag & Drop Builder</li>
                    <li>1,000's of Templates</li>
                    <li>Blog Support Tools</li>
                    <li>eCommerce Store</li>
                </ul>
                <div class="card__button ">
                    Subscribe Now
                </div>
                <div class="card__additional">
                    Or Start 14 days trail
                </div>
            </div>
        </div>
    </div>
</div>