<div class="app">
    <div class="app__title title">Why you should choose<br />
        our app</div>
    <div class="description">The rise of mobile devices transforms the way we consume information entirely<br />
        and the world's most elevant channels such as Facebook.</div>

        <div class="app__cards">
            <div class="app__card">
                <div class="app__card-image app__card-image-app centring circle">
                    <img class="app__card-img app__card-img-app" src="../img/icon/app.png" alt="app">
                </div>
                <div class="app__card-title">App Development</div>
                <div class="app__card-description description">Get your blood tests delivered at<br>
                    home collect a sample from the<br>
                    news your blood tests.</div>
            </div>
            <div class="app__card">
                <div class="app__card-image app__card-image-award centring circle">
                    <img class="app__card-img app__card-img-award" src="../img/icon/award.png" alt="award">
                </div>
                <div class="app__card-title">10 Times Award</div>
                <div class="app__card-description description">Get your blood tests delivered at<br>
                    home collect a sample from the<br>
                    news your blood tests.</div>
            </div>
            <div class="app__card">
                <div class="app__card-image app__card-image-cloud centring circle">
                    <img class="app__card-img app__card-img-cloud" src="../img/icon/cloud.png" alt="cloud">
                </div>
                <div class="app__card-title">Cloud Storage</div>
                <div class="app__card-description description">Get your blood tests delivered at<br>
                    home collect a sample from the<br>
                    news your blood tests.</div>
            </div>
            <div class="app__card">
                <div class="app__card-image app__card-image-customization centring circle">
                    <img class="app__card-img app__card-img-customization" src="../img/icon/customization.png" alt="customization">
                </div>
                <div class="app__card-title">Customization</div>
                <div class="app__card-description description">Get your blood tests delivered at<br>
                    home collect a sample from the<br>
                    news your blood tests.</div>
            </div>
            <div class="app__card">
                <div class="app__card-image app__card-image-ux circle centring">
                    <img class="app__card-img app__card-img-ux" src="../img/icon/ux.png" alt="ux">
                </div>
                <div class="app__card-title">UX Planning</div>
                <div class="app__card-description description">Get your blood tests delivered at<br>
                    home collect a sample from the<br>
                    news your blood tests.</div>
            </div>
            <div class="app__card">
                <div class="app__card-image app__card-image-support centring circle">
                    <img class="app__card-img app__card-img-support" src="../img/icon/support.png" alt="support">
                </div>
                <div class="app__card-title">Customer Support</div>
                <div class="app__card-description description">Get your blood tests delivered at<br>
                    home collect a sample from the<br>
                    news your blood tests.</div>
            </div>
        </div>
</div>