<div class="features">
    <div class="features__img-container">
        <div class="features__img-front-box">
            <img src="../img/features-phone.png" class="features__img-front" alt="features-phone">
        </div>
        <div class="features__img-back-box">
            <img src="../img/features-phone-back.png" class="features__img-back" alt="features-phone-back">
        </div>
    </div>
    <div class="features__text">
        <div class="features__text-container">
            <div class="features__text-title">
                <div class="features__text-main-title">
                    Awesome apps<br />
                    features
                </div>
                <div class="features__text-subtitle">
                    ncrease productivity with a simple to-do app. app for<br />
                    managing your personal budgets.
                </div>
            </div>
            <div class="features__text-list">
                <div class="features__text-box centring">
                    <div class="features__text-speed-img-container features__text-img-container centring">
                        <img class="features__text-img" src="../img/icon/speed.png" alt="speed">
                    </div>
                    <div class="features__text-text">
                        <div class="features__text-speed-title features-list-title">
                            Fast Performance
                        </div>
                        <div class="features-list-description">
                            Get your blood tests delivered at
                            home collect a sample from the
                            news your blood tests.
                        </div>
                    </div>
                </div>

                <div class="features__text-box centring">
                    <div class="features__text-prototyping-img-container features__text-img-container centring">
                        <img class="features__text-img" src="../img/icon/prototyping.png" alt="prototyping">
                    </div>
                    <div class="features__text-text">
                        <div class="features__text-prototyping-title features-list-title">
                            Prototyping
                        </div>
                        <div class="features-list-description">
                            Get your blood tests delivered at
                            home collect a sample from the
                            news your blood tests.
                        </div>
                    </div>
                </div>

                <div class="features__text-box centring">
                    <div class="features__text-vector-img-container features__text-img-container centring">
                        <img class="features__text-img" src="../img/icon/vector.png" alt="vector">
                    </div>
                    <div class="features__text-text">
                        <div class="features__text-vector-title features-list-title">
                            Vector Editing
                        </div>
                        <div class="features-list-description">
                            Get your blood tests delivered at
                            home collect a sample from the
                            news your blood tests.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>