.features {
  margin-top: 205px;
  display: flex;
  justify-content: center;
  margin-left: -160px;
  width: 100%;
}
.features__img-container {
  background-image: url("../img/background/features.png");
  background-repeat: no-repeat;
  width: 660px;
  height: 700px;
  margin-top: 80px;
  position: relative;
}
.features__img-front {
  height: 845px;
  position: absolute;
  top: -165px;
  left: 60px;
  z-index: 1;
}
.features__img-back {
  height: 810px;
  position: absolute;
  top: -155px;
  left: 103px;
}
.features__text {
  margin-left: 35px;
}
.features__text-main-title {
  width: 300px;
}
.features__text-text {
  margin-left: 30px;
}
.features__text-box {
  margin-top: 64px;
}
.features-list-description {
  width: 260px;

}
.features__text-speed-img-container {
  background-color: #ffecef;
}
.features__text-speed-title {
  color: #f55767;
}
.features-list-title {
  font-size: 20px;
  font-weight: 600;
}
.features__text-prototyping-box {
  display: flex;
}
.features__text-prototyping-img-container {
  background-color: #f4f4ff;
}
.features__text-prototyping-title {
  color: #2563ff;
}
.features__text-vector-box {
  display: flex;
}
.features__text-vector-img-container {
  background-color: #e4ffee;
}
.features__text-vector-title {
  color: #40975f;
}

@media (max-width: 1280px) {
  .features {
    margin-top: 120px;
    margin-left: -70px;
  }
  .features__img-container {
    background-size: contain;
    background-position: center;
    height: 450px;
    width: 600px;
    margin-top: 80px;
  }
  .features__img-front {
    height: 540px;
    left: 50%;
    transform: translate(calc(-50% + 10px), 55px);
    z-index: 1;
  }
  .features__img-back {
    height: 520px;
    left: 50%;
    transform: translate(calc(-50% + 24px), 52px);
  }
  .features__img-back-box {
    height: 0px;
  }
  .features__text {
    margin-left: -12px;
  }
  .features__text-title {
    display: inline;
    margin-inline: auto;
  }
  .features__text-list {
    margin-left: -50px;
  }
  .features__text-main-title {
    font-size: 25px;
    font-weight: 700px;
    width: 280px;
  }
  .features__text-subtitle {
    font-size: 10px;
    font-weight: 400;
    color: #616368;
    width: 280px;
    margin-inline: auto;
  }
  .features__text-text {
    margin-left: 20px;
  }
  .features__text-box {
    margin-top: 34px;
  }
  .features-list-description {
    width: 160px;
  }
  .features-list-title {
    font-size: 12px;
    font-weight: 600;
  }
}

@media (max-width: 796px) {
  .features {
    margin-top: 120px;
    display: block;
    margin-inline: auto;
  }
  .features__img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    margin-top: 40px;
  }
  .features__img-front {
    height: 410px;
    transform: translate(calc(-50% + 15px), 90px);
  }
  .features__img-back {
    height: 385px;
    transform: translate(calc(-50% + 26px), 85px);
  }
  .features__text {
    margin-left: 0px;
  }
  .features__text-list {
    margin-left: -50px;
  }
  .features__text-title {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .features__text-main-title {
    font-size: 25px;
  }
  .features__text-subtitle {
    font-size: 10px;
    width: 280px;
  }
  .features__text-text {
    margin-left: 20px;
  }
  .features__text-box {
    margin-top: 10px;
  }
  .features-list-description {
    width: 160px;
    font-size: 10px;
  }
  .features-list-title {
    font-size: 12px;
  }
}
