<div class="jackpots">
    <div class="jackpots__titles-container centring">
        <div class="jackpots__title-main">
            Smart jackpots that<br />
            you may love this<br />
            anytime & anywhere
        </div>
        <div class="jackpots__title-line"></div>
        <div class="jackpots__title-small">
            The rise of mobile devices transforms the way we<br />
            consume information entirely and the world's most<br />
            elevant channels such as Facebook.
        </div>
    </div>
    <div class="jackpots__items-container ">

        <div class="jackpots__item-box  ">
            <div class="jackpots__payouts-img-container circle centring">
                <img class="circle-img" src="../img/icon/payouts.png" alt="payouts">
            </div>
            <div class="jackpots__text-text">
                <div class="jackpots__text-payouts-title jackpots-list-title">
                    Automatic Payouts
                </div>
                <div class="jackpots-list-description">
                    Get your blood tests delivered at<br />
                    home collect a sample from the<br />
                    news your blood tests.
                </div>
            </div>
        </div>

        <div class="jackpots__item-box ">
            <div class="jackpots__network-img-container circle centring">
                <img class="circle-img" src="../img/icon/network.png" alt="network">
            </div>
            <div class="jackpots__text-text">
                <div class="jackpots__text-network-title jackpots-list-title">
                    Network Effect
                </div>
                <div class="jackpots-list-description">
                    Get your blood tests delivered at<br />
                    home collect a sample from the<br />
                    news your blood tests.
                </div>
            </div>
        </div>


        <div class="jackpots__item-box ">
            <div class="jackpots__reward-img-container circle centring">
                <img class="circle-img" src="../img/icon/reward.png" alt="reward">
            </div>
            <div class="jackpots__text-text">
                <div class="jackpots__text-reward-title jackpots-list-title">
                    Bigger Rewards Method
                </div>
                <div class="jackpots-list-description">
                    Get your blood tests delivered at<br />
                    home collect a sample from the<br />
                    news your blood tests.
                </div>
            </div>
        </div>


    </div>
</div>