<div class="footer">
    <div class="footer__container">
        <div class="footer__logo"><span class="footer__logo-app">App</span>
            <span class="footer__logo-lab">Lab</span>
        </div>
        <div class="footer__nav">
            <ul class="footer__menu-list">
                <li class="footer__menu-item"><a class="footer__menu-item-a" href="#home">Home</a></li>
                <li class="footer__menu-item"><a class="footer__menu-item-a" href="#features">Key Features</a></li>
                <li class="footer__menu-item"><a class="footer__menu-item-a" href="#pricing">Pricing</a></li>
                <li class="footer__menu-item"><a class="footer__menu-item-a" href="#testiminial">Testiminial</a></li>
                <li class="footer__menu-item"><a class="footer__menu-item-a" href="#faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer__icons"><img class="footer__img" src="./components/img/icon/footer.png" alt="footer-img"></div>
        <div class="footer__bottom-description centring">Copyright© Arifur Rahman Tushar 2019. All rights reserved</div>
    </div>
</div>