<div class="integration">
    <div class="integration__img-container">
        <div class="integration__img-java-container">
            <img class="integration__img-java" src="../img/icon/java.png" alt="java">
        </div>

        <div class="integration__img-hashtag-container">
            <img class="integration__img-hashtag" src="../img/icon/hashtag.png" alt="hashtag">
        </div>

        <div class="integration__img-git-container">
            <img class="integration__img-git" src="../img/icon/git.png" alt="git">
        </div>

        <div class="integration__img-bird-container">
            <img class="integration__img-bird" src="../img/icon/bird.png" alt="bird">
        </div>

        <div class="integration__img-swift-container">
            <img class="integration__img-swift" src="../img/icon/swift.png" alt="swift">
        </div>

        <div class="integration__img-hexagon-container">
            <img class="integration__img-hexagon" src="../img/icon/hexagon.png" alt="hexagon">
        </div>

    </div>
    <div class="integration__text-container ">
        <div class="integration__text-title">Designed & built by<br />
            the latest code<br />
            integration</div>
        <div class="integration__text-description">The rise of mobile devices transforms the way we<br />
            consume information entirely and the world's most<br />
            elevant channels such as Facebook.</div>
        <div class="integration__text-button button">Learn more</div>
    </div>
</div>